.profile {
  background-color: #eb6b6f;
  border-radius: 0 0 100% 0;
  width: 500px;
  height: 400px;
  padding: 20px 120px 120px 20px;
}

.profile .title {
  background-color: #f9a875 !important;
  border: 4px solid black;
}

.avatar {
  background-color: #f9a875 !important;
  max-width: 121px;
  border: 4px solid black;
}

span {
  font-family: "Fira Code";
  font-size: 12pt;
  font-weight: 700;
  color: black;
}

.social-text {
  font-family: "Fira Code";
  font-size: 12pt;
  font-weight: 700;
  color: black;
}

.profile-title {
  font-size: 11pt;
  text-align: center;
}

.profile-subtitle {
  font-size: 8pt;
}
